
<%= link_to "New #{params[:table].singularize.capitalize}", :new_record, class: "btn btn-primary btn-lg" %>
<h1>Available <%= params[:table].capitalize %></h1>

<% @tables.each do |table| %>
    <%= link_to table, show_record_path(id: table.id), class: "btn btn-primary  btn-block"  %>
<% end %>
